body {
  margin: 0;
  background-color: #333333;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Arial, sans-serif;
}
.container {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  text-align: center;
}
h1 {
  color: #333;
  margin-bottom: 10px;
  font-size: 28px;
}
hr {
  border: 1px solid #ddd;
  margin: 20px 0;
}
input[type="text"] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
  outline: none;
  box-sizing: border-box;
}
.qrcode {
  margin: 20px 0;
}
